*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Mengabaikan folder node_modules
node_modules/

# Mengabaikan folder build atau dist
dist/
build/

# Mengabaikan semua file log
*.log

# Mengabaikan file environment (jika ada)
.env

# File video besar
*.mp4

# File gambar besar
*.png
*.jpg

# Font besar
*.ttf
*.otf

# Build dan dependensi (jika ada)
node_modules/
build/
dist/
